.orderContainer {
  /* background-color: aliceblue; */
  box-shadow: 0px 0px 4px #ccc;
  padding: 25px 15px;
  margin-bottom: 20px;
}
.label {
  font-weight: 500;
  font-size: 20px;
}
.btn {
  margin: 20px 0;
  background-color: #5b21b6 !important;
  border: #5b21b6 !important;
  width: 100%;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.list {
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 25px;
}
.li {
  font-weight: 500 !important;
}
.img {
  width: 200px !important;
  margin: 0 auto;
}
.text {
  font-size: 22px;
  color: #333;
  margin-bottom: 0;
  margin-top: 20px;
}
