/* body {
  background-color: #5b21b6;
}
.art {
  background-color: white;
  border-color: black;
  border-radius: 3px;

  display: inline-block;
  height: fit-content;
  width: 95%;
  margin: 6% 31px;
}
.div {
  float: left;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 8%;
  margin-top: inherit;
  width: 30%;
}
.col2 {
  position: relative;
  width: 50%;
  float: right;
}
.inline {
  display: inline;
} */

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.btn {
  background-color: black;
  width: 100%;
  padding: 14px 20px;
  margin: 30px 0;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.col2 {
  background-color: #5b21b6;
}
.art {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  /* max-width: 1440px; */
  /* margin: 0 auto; */
}
.div {
  height: 100vh;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: #5b21b6; */
}
.img1 {
  width: 400px;
}
